@page
@model WebUI.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Recetas";
}
<p>
    <a asp-page="Create">Crear uno Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Servings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servings)
                </td>
                <td>
                    <a class="button" asp-page="./Edit" asp-route-id="@item.RecipeId">Editar</a> |
                    <a class="button" asp-page="./Details" asp-route-id="@item.RecipeId">Detalle</a> |
                    <a class="button" asp-page="./Delete" asp-route-id="@item.RecipeId">Borrar</a> |
                    <a class="button" asp-page="../RecipeIngredients/Index" asp-route-id="@item.RecipeId">Ingredientes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
