@page
@model WebUI.Pages.Ingredients.IndexModel
@{
    ViewData["Title"] = "Lista de Compra";
}
<p>
    <a class="btn btn-success" asp-page="Create">Agregar Ingrediente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ingredient)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.IngredientId">Editar</a> |
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.IngredientId">Detalle</a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IngredientId">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
