@page
@model WebUI.Pages.ShoppingLists.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList[0].TotalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList[0].IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList[0].UnitName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShoppingList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShoppingListId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShoppingListId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShoppingListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
