@page
@model WebUI.Pages.ShoppingLists.IndexModel
@{
    ViewData["Title"] = "Lista de Compra";
}
<p>
    <a asp-page="Create">Crear uno Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList[0].TotalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList[0].IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingList[0].UnitName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShoppingList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                <a class="button" asp-page="./Edit" asp-route-id="@item.ShoppingListId">Editar</a> |
                <a class="button" asp-page="./Details" asp-route-id="@item.ShoppingListId">Detalle</a> |
                <a class="button" asp-page="./Delete" asp-route-id="@item.ShoppingListId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
