@page
@model WebUI.Pages.MealPlans.IndexModel

<p>
    <a asp-page="Create">Crea uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealPlan[0].DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealPlan[0].DayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealPlan[0].RecipeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MealPlan)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MealPlanId">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.MealPlanId">Detalle</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MealPlanId">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
